{{ define "main" }}

<main class="w-full h-full bg-white border-4 border-blue-800 border-dotted p-4">
  <section>
    <div class="right margin">
      <img src="/images/nanapus.png" alt="bananapus" />
      <p>
        <a href="https://youtu.be/4kK6F7t-x6E?si=aFP_bRwFCVKzlN_u"
          >100% bananapus endorsed</a
        >
      </p>
    </div>
    <h1 class="text-xl font-bold">Welcome to the Revnet Blog</h1>
    <p class="my-4">
      ⏩ Revnets are a new way to fairly launch a token and treasury for any
      kind of project on Ethereum. ⏩
      <span
        class="bg-[url('/images/water.webp')] text-black font-bold p-4 block"
        >revnets are the future</span
      >
    </p>

    <h2 class="text-lg font-bold">What is a Revnet?</h2>
    <p class="my-4">
      Revnets let anybody fairly launch a token for their company, project, or
      community, which is backed by a shared treasury.
    </p>
    <p class="my-4">
      Instead of using a fixed token supply, Revnets let anyone pay the treasury
      to make new tokens – but it gets more expensive to make tokens over time,
      pushing more demand to the market. Token holders can also redeem their
      tokens to get funds back from the treasury, but earlier redeemers get
      less, rewarding those who hold their tokens longer.
    </p>
    <p class="my-4">
      The price to make new tokens is a "price ceiling" – if the market price
      goes above it, people will pay the treasury, make new tokens, and sell
      those back to the market, stabilizing the price. Redeeming tokens is a
      "price floor" – if the market price goes below it, people will redeem
      their tokens, get funds back, and buy more tokens back, stabilizing the
      price. This makes the token price stable and predictable, helping people
      support the Revnet more confidently.
    </p>
    <p class="my-4">
      A Revnet can also set aside some tokens for a group of developers, a
      community stockpile, and/or anything else. Since new tokens are made
      continuously, it sets them aside continuously – if 20% is being reserved
      for a core team, then that team gets 20 tokens for every 100 tokens made.
    </p>
    <p class="my-4">
      All of these rules are set up ahead of time and can't be changed, meaning
      everybody knows what they're getting into before they buy into the
      treasury. A Revnet token can be used for governance, private chat rooms,
      in-app purchases, or anything else – all a Revnet does is provide a
      transparent, stable, and fair financial foundation to build a product,
      community, or organization on top of.
    </p>
  </section>

  <section>
    <p>
      To get started, join
      <a href="https://discord.com/invite/6Zr7Rtv6Ea">the Discord</a>! 💓
    </p>
  </section>
</main>

{{ end }}
